# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Infinite Runner.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\yuans\Game Development\Infinite Runner\.idea\.idea.Infinite Runner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
